body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.finderContainer {
  border: 1px solid red;
  height: 100vh; 
  display: flex;
}

.finderContainer__workzone {
  display: flex;
  width: 100vw;
  flex-direction: column;
}

.finderContainer__workzone-toolbar {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  border: 1px solid cyan;
}

.finderContainer__workzone-toolbar__title p, .finderContainer__workzone-footer span{
  margin: 0;
  line-height: 2.5em;
  padding-left: 10px;
  color: #0366d6;
} 
.finderContainer__workzone-work {
  overflow: auto;
  flex-wrap: wrap;
  padding: 20px 35px;
  height: 95vh;
  border: 1px solid gold;
}
.finderContainer__workzone-footer {
  height: 5vh;
  border: 1px solid black;
}

.finderContainer__detailContainer {
  position: absolute;
  right: 0;
  background-color:rgb(247, 247, 247);
  width: 25vw;
  height: 100vh;
  border: 1px solid blue;
  padding-left: 10px;
  overflow: hidden;
  overflow-y: auto;
}

.cardy:first-child {
  margin-left: 0;
}
.cardy {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  height: 9em;
  width: 9em;
  cursor: pointer;
  margin: 5px 10px 5px 0px;
  border: 1px dotted gray;
  padding: 5px;
}

.cardy__label {
  width: 8em;
}
.cardy__label p{
  text-align: center;
  /* word-break: break-all; */
}
.cardy__icon p {
  font-size: 45px;
}

.cardy__avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-top: -15px;
}

.cardy:hover {
  background-color: #eee;
}

.cardy_3_btn {
  padding: 3px !important;
  color: 'black'
}